@font-face {
    font-family: "Jura_med";
    src: url("../../assets/fonts/Jura-Medium.ttf");
}

.custom_input-container {
    position: relative;
    display: inline-block;

    .custom_input {
        font-size: 24px;
        padding: 10px 30px 10px 65px;
        height: 40px;
        border: 1px solid #802AEA;
        border-radius: 30px;
        font-family: "Jura_med";
        &:focus {
            outline: 2px solid #802AEA;
        }

        &:hover {
            cursor: pointer;
            outline: 2px solid #802AEA;
        }
    }

    .custom_image {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}