.city_grid {
    .city_grid_button {
        margin-top: calc(50% - 25px);
        width: 250px;
        height: 50px;
    }
}

.admin_city_page {
    margin-top: 150px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .admin_city_page_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
        margin-top: 20px;
        .file-input-container{
            .custom-button{
                text-align: center;
                width: 100%;
                padding: 15px;
            }
        }
    }

    .container_galarry {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;

        a {
            justify-self: center;
        }

        .gallary_item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .button_final {
        margin-bottom: 50px;
        width: 250px;
    }
}