@font-face {
    font-family: "Jura_Bold";
    src: url(../../assets/fonts/Jura-Bold.ttf);
}
.header{
    position: fixed;
    display: flex;
    z-index: 10;
    width: calc(100% - 100px);
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    top: 0;
    .header_logo{
        width: 58px;
        height: 40px;
    }
    .header_container{
        display: flex;
        align-items: center;
        .navigation_item{
            font-size: 16px;
            font-family: 'Jura_reg';
            display: inline;
            color: #000;
            margin-right: 30px;
            &:last-child{
                margin-right: 50px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
@font-face {
    font-family: 'Jura_reg';
    src: url('../../assets/fonts/Jura-Regular.ttf');
}