.custom_button {
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 10px;
    background-color: #fff;
    color: #000;
    font-size: 24px;
    border: 1px solid #802AEA;
    height: 30px;
    font-family: "Jura_med";
    border-radius: 30px;
    position: relative;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 3px #802AEA;
    }

    .custom_text {
        margin-left: 15px;
    }

    .custom_image {
        width: 40px;
        height: 40px;
    }

    .custom_button-container {
        position: absolute;
        z-index: 9;
        top: 20px;
        left: 0;
        min-width: 100%;
        background-color: #fff;
        p {
            font-size: 24px;
            border-bottom: 1px solid black;
            padding-bottom: 5px;
        }
    }

    @media screen and (max-width: 850px) {
        font-size: 20px;
        padding: 5px 15px 5px 5px;

        .custom_text {
            margin-left: 10px;
        }

        .custom_image {
            width: 30px;
            height: 30px;
        }
    }
}